<div class="container mt-4">
  <h1>Nueva Herramienta</h1>

  <%= form_with model: @tool, local: true do |f| %>
    <div class="form-group mb-3">
      <%= f.label :nombre, "Nombre de la Herramienta", class: "form-label" %>
      <%= f.text_field :nombre, class: "form-control", placeholder: "Ingrese el nombre de la herramienta" %>
      <% if @tool.errors[:nombre].any? %>
        <div class="text-danger mt-1">
          <%= @tool.errors[:nombre].first %>
        </div>
      <% end %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :cantidad, "Cantidad", class: "form-label" %>
      <%= f.number_field :cantidad, class: "form-control", placeholder: "Ingrese la cantidad", step: 1 %>
      <% if @tool.errors[:cantidad].any? %>
        <div class="text-danger mt-1">
          <%= @tool.errors[:cantidad].first %>
        </div>
      <% end %>
    </div>

    <div class="form-group mt-4">
      <%= f.submit "Crear Herramienta", class: "btn btn-primary" %>
      <%= link_to "Cancelar", tools_path, class: "btn btn-secondary ms-2" %>
    </div>
  <% end %>
</div> 