<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">
    <h1 class="fw-bold text-success mb-3 mb-md-0">Historial de Agroquímicos</h1>
  </div>

  <% if @agrochemical_histories.any? %>
    <div class="table-responsive shadow-sm rounded">
      <table class="table table-hover align-middle table-sm">
        <thead class="table-success text-center">
          <tr>
            <th>Agroquímico</th>
            <th>Usuario</th>
            <th>Cambio de Cantidad</th>
            <th>Fecha</th>
            
          </tr>
        </thead>
        <tbody>
          <% @agrochemical_histories.each do |history| %>
            <tr>
              <td class="text-center"><%= history.agrochemical.nombre %></td>
              <td class="text-center"><%= history.usuario %></td>
              <td class="text-center fw-bold <%= history.cantidad_cambiada.positive? ? 'text-success' : 'text-danger' %>">
                <%= history.cantidad_cambiada %>
              </td>
              <td class="text-center"><%= l(history.created_at, format: :short) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert alert-warning text-center p-4 shadow-sm border-0">
      <i class="bi bi-info-circle fs-4"></i>
      <p class="mt-2 mb-0 fw-bold">No hay registros en el historial de agroquímicos.</p>
    </div>
  <% end %>
</div>
