<div class="container mt-4">
  <h1 class="mb-4">Nuevo Registro de Modificación de Agroquímicos</h1>

  <%= form_with(model: @agrochemical_history, local: true) do |form| %>
    <% if @agrochemical_history.errors.any? %>
      <div class="alert alert-danger">
        <h4>Se encontraron los siguientes errores:</h4>
        <ul>
          <% @agrochemical_history.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :agrochemical_id, "Agroquímico" %>
      <%= form.collection_select :agrochemical_id, Agrochemical.order(:nombre), :id, :nombre, { prompt: "Selecciona un agroquímico", selected: params[:agrochemical_id] }, { class: "form-control", disabled: params[:agrochemical_id].present? } %>
    </div>

    <div class="form-group">
      <%= form.label :cantidad_cambiada, "Cantidad a modificar, debe ser un número positivo" %>
      <%= form.number_field :cantidad_cambiada, class: "form-control", required: true %>
    </div>

    <div class="form-group mt-3">
      <%= form.submit "Guardar Modificación", class: "btn btn-primary" %>
      <%= link_to 'Cancelar', agrochemicals_path, class: "btn btn-secondary ml-2" %>
    </div>
  <% end %>
</div> 