<div class="container mt-4">
  <h1>Listado de Aplicaciones</h1>
  <div class="mb-3">
    <%= link_to 'Nueva Aplicación', new_application_path, class: "btn btn-primary" %>
  </div>
  
  <% if @applications.any? %>
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
        <tr>
          <th>Fecha de Aplicación</th>
          <th>Sector</th>
          <th>Operador Tractor</th>
          <th>Aplicadores</th>
          <th>Agroquímicos</th>
          <th>Mojamiento Real</th>
          <th>Fecha de Liberación</th>
          <th>Dosis en 100 L</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @applications.each do |app| %>
          <tr>
            <td><%= app.fecha_aplicacion %></td>
            <td><%= app.sector %></td>
            <td><%= app.operador_tractor %></td>
            <td><%= app.aplicadores %></td>
            <td><%= app.agroquimicos %></td>
            <td><%= app.mojamiento_real %></td>
            <td><%= app.fecha_de_liberacion %></td>
            <td><%= app.dosis_en_100_l if app.dosis_en_100_l.present? %></td>
            <td>
              <%= link_to "Ver", application_path(app), class: "btn btn-sm btn-info" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No se encontró ninguna aplicación.</p>
  <% end %>
</div> 