<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">
    <h1 class="fw-bold text-danger mb-3 mb-md-0">Variedades</h1>

    <!-- Contenedor para alinear los botones a la derecha -->
    <div class="d-flex gap-2">
      <%= link_to "Colores", colors_path, class: "btn btn-lg shadow-sm d-flex align-items-center btn-sm btn-md text-black fw-bold", style: "background-color: #f8d7da;" %>

      <%= link_to new_variety_path, class: "btn btn-lg shadow-sm d-flex align-items-center btn-sm btn-md text-black fw-bold", style: "background-color: #f8d7da;" do %>
        <i class="bi bi-plus-circle me-2"></i> Nueva Variedad
      <% end %>
    </div>
  </div>

  <% if @varieties.any? %>
    <div class="table-responsive shadow-sm rounded">
      <table class="table table-hover align-middle table-sm" style="background-color: #f8d7da;">
        <thead class="table-danger text-center">
          <tr>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @varieties.each do |variety| %>
            <tr>
              <td class="text-center"><%= variety.nombre %></td>
              
              <td class="text-center d-flex justify-content-center gap-2">
                <%= link_to edit_variety_path(variety), class: "btn btn-sm btn-outline-warning d-flex align-items-center justify-content-center" do %>
                  <i class="bi bi-pencil-square"></i>
                  <span class="d-none d-md-inline ms-1">Editar</span>
                <% end %>
                <%= link_to variety, class: "btn btn-sm btn-outline-info d-flex align-items-center justify-content-center" do %>
                  <i class="bi bi-eye"></i>
                  <span class="d-none d-md-inline ms-1">Ver</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert alert-warning text-center p-4 shadow-sm border-0">
      <i class="bi bi-info-circle fs-4"></i>
      <p class="mt-2 mb-0 fw-bold">No hay variedades registradas.</p>
    </div>
  <% end %>
</div>
