<div class="container mt-4">
  <h1>Detalle de Variedad</h1>
  <p><strong>Nombre: </strong><%= @variety.nombre %></p>
  <p>
    <strong>Color: </strong>
    <span class="badge text-black" style="background-color: <%= @variety.color %>;">
      <%= @variety.color %>
    </span>
  </p>
  <p><strong>Descripción: </strong><%= @variety.descripcion %></p>
  <%= link_to "Volver", varieties_path, class: "btn btn-secondary mt-2" %>
</div> 