<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">
    <h1 class="fw-bold text-success mb-3 mb-md-0">Agroquímicos</h1>
    
    <!-- Contenedor para alinear los botones a la derecha -->
    <div class="d-flex gap-2">
      <%= link_to "Historial", agrochemical_histories_path, class: "btn btn-lg shadow-sm text-black btn-sm fw-bold", style: "background-color: #d1e7dd;" %>
      <%= link_to "Divisiones", agrochemical_divisions_path, class: "btn btn-lg shadow-sm  text-black btn-sm fw-bold", style: "background-color: #d1e7dd;" %>

      <%= link_to new_agrochemical_path, class: "btn btn-lg shadow-sm d-flex align-items-center btn-sm text-black fw-bold", style: "background-color: #d1e7dd;" do %>
        <i class="bi bi-plus-circle me-2"></i> Nuevo Agroquímico
      <% end %>
    </div>
  </div>

  <% if @agrochemicals.any? %>
    <div class="table-responsive shadow-sm rounded">
      <table class="table table-hover align-middle table-sm">
        <thead class="table-success text-center">
          <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th class="d-none d-md-table-cell">División</th> <!-- Ocultar en móvil -->
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @agrochemicals.each do |agro| %>
            <tr>
              <td class="text-center"><%= agro.nombre %></td>
              <td class="text-center"><%= agro.cantidad %></td>
              <td class="text-center d-none d-md-table-cell"><%= agro.agrochemical_division&.division || "No especificado" %></td> <!-- Ocultar en móvil -->
              <td class="text-center d-flex justify-content-center gap-2">
                <%= link_to new_agrochemical_history_path(agrochemical_id: agro.id), class: "btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center" do %>
                  <i class="bi bi-pencil-square"></i>
                  <span class="d-none d-md-inline ms-1">Modificar Cantidad</span>
                <% end %>
                <%= link_to agrochemical_path(agro), class: "btn btn-sm btn-outline-info d-flex align-items-center justify-content-center" do %>
                  <i class="bi bi-eye"></i>
                  <span class="d-none d-md-inline ms-1">Ver</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert alert-warning text-center p-4 shadow-sm border-0">
      <i class="bi bi-info-circle fs-4"></i>
      <p class="mt-2 mb-0 fw-bold">No hay agroquímicos registrados.</p>
    </div>
  <% end %>

</div>
